.body {
    min-height: 100vh; /* 高さ指定 */
    background-color: #FFD5EC;
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin: 0;              
}

.right {
    flex: 1;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.left {
    flex: 1;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input {
    width: 80%; 
    height: 40px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: medium;
}

.topbutton {
    font-size: large;
    width: 90%; 
    height: 125px;
    background: #ffffff;  
    border: none;
    cursor: pointer;
    border-radius: 20px;  
    margin-bottom: 40px;    
}

.okbutton {
    font-size: large;
    border: none;
    cursor: pointer;
    border-radius: 20px;  
    margin-bottom: 40px;   
    background: #ff8d78;
    margin-top: 20px;
    height: 60px;
    width: 40%; 
}

.topbutton:hover {
    background: #c3a8ca; 
}

.okbutton:hover {
    background: #c3a8ca; 
}

.center {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start; 
}

.password {
    text-align: center;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 0;
    width: 50%;
    border: solid 1px;
    font-size: xx-large;
    background: #ffffff;
    color: #FFD5EC;
}

.errorMessage{
    height: 20px;
    color: red; /* 文字の色 */
}

.inputContainer {
    margin: 10px auto;
    position: relative;
    width: 80%; 
}

.note {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: smaller;
    color: #777;
}

.advertisement {
    width: 90%; 
    height: 550px;
    text-align: center;
    border: 1px solid;
}

.advertisement2 {
    width: 90%; 
    height: 750px;
    margin-top: 20px;    
    text-align: center;
    border: 1px solid;
}

.advertisement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advertisement2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::placeholder {
    text-align: center;
}