.body {
    min-height: 100vh;
    /* 高さ指定 */
    text-align: center;
    /* 中央揃え */
    font-size: medium;
    /* 文字の大きさ */
    background: #fff;
    /* 背景色 */
    display: flex;
    flex-flow: column;
    /* 縦並び */
    align-items: center;
    /* 上下中央寄せ */
    justify-content: center;
    /* 左右中央寄せ */
}

.pawloversImg {
    width: 50%;
}

.login {
    width: 50%;
    border-radius: 10px;
    /* 丸み */
    background: #FFD5EC;
    /* 背景色 */
    padding: 20px;
    /* 上下左右の余白(内側) */
    display: flex;
    flex-flow: column;
    /* 縦並び */
    align-items: center;
    /* 上下中央寄せ */
    justify-content: center;
    /* 左右中央寄せ */
}

.formGroup {
    width: 70%;
    margin-bottom: 20px;
    /* 下の余白(外側) */
    display: flex;
    flex-flow: column;
    /* 縦並び */
    align-items: center;
    /* 上下中央寄せ */
    justify-content: center;
    /* 左右中央寄せ */
}

.formGroup label {
    color: #000;
    /* 文字の色 */
    margin-top: 10px;
    /* 上の余白(外側) */
    margin-right: auto;
    /* 右の余白(外側) */
}

.formGroup input {
    height: 40px;
    width: 100%;
    font-size: large;
    /* 文字の大きさ */
    border: 1px solid #ccc;
    /* 枠線 */
    border-radius: 5px;
    /* 丸み */
    padding: 5px;
    /* 上下左右の余白(内側) */
}

.passwordHint {
    right: 0;
    font-size: smaller;
    color: #777;
}

.formGroup input::placeholder {
    text-align: center;
    /* 中央揃え */
}

.errorMessage {
    height: 20px;
    color: red;
    /* 文字の色 */
}

.new {
    height: 20px;
    color: #000;
    /* 文字の色 */
}

.loginButton,
.registerButton {
    height: 50px;
    width: 50%;
    font-size: large;
    /* 文字の大きさ */
    border: none;
    /* 枠線削除 */
    border-radius: 30px;
    /* 丸み */
    color: #000;
    /* 文字の色 */
    background: #b09bd1;
    /* 背景色 */
    margin: 5px;
    /* 上下左右の余白(外側) */
    cursor: pointer;
    /* カーソル変更 */
}

.loginButton:hover,
.registerButton:hover {
    background: #9a88c7;
    /* 背景色 */
}