.body {
    min-height: 100vh; /* 高さ指定 */
    text-align: center; /* 中央揃え */
    font-size: medium; /* 文字の大きさ */
    background: #FFD5EC; /* 背景色 */
    display: flex;
    align-items: center; /* 上下中央寄せ */
    justify-content: center; /* 左右中央寄せ */
}

.left, .right {
    flex: 1;
    display: flex;
    flex-flow: column; /* 縦並び */
    align-items: center; /* 上下中央寄せ */
    justify-content: center; /* 左右中央寄せ */
}

.topButton {
    font-size: large;
    width: 90%;
    height: 125px;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 40px;
}

.topButton:hover {
    background: #c0c0c0; /* 背景色 */
}

.changeButton {
    font-size: large;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 40px;
    background: #b09bd1;
    height: 100px;
    width: 50%;
}

.changeButton:hover {
    background: #9a88c7;
}

.logoutButton, .accountButton {
    font-size: large;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 40px;
    background: #ff8d78;
    height: 100px;
    width: 50%;
}

.logoutButton:hover, .accountButton:hover {
    background: #ff7d66;
}

.center {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.title {
    text-align: center;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 0;
    width: 50%;
    border: solid 1px;
    font-size: xx-large;
    background: #ffffff;
    color: #FFD5EC;
}

.advertisement {
    width: 90%;
    height: 550px;
    text-align: center;
    border: 1px solid;
}

.advertisement2 {
    width: 90%;
    height: 750px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid;
}

.advertisement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advertisement2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
